{{!-- <div>{{statusIcon status}} {{name}} {{statusBar this}}</div> --}}
<div id="overal" style="width: 300px; height: 200px; border: 1px solid rgb(212, 212, 212); margin-bottom: 20px;" class="graph round-corner-all">
	<div class="rls-total"><span>Total</span><span class="value label label-inverse">{{total}}</span></div>
	<div class="rls-passed"><span>Passed</span><span class="value label label-success">{{passed}}</span></div>
	<div class="rls-failed"><span>Failed</span><span class="value label label-important">{{failed}}</span></div>
	<div class="rls-blocked"><span>Blocked</span><span class="value label label-warning">{{blocked}}</span></div>
	<div class="rls-inp"><span>In Progress</span><span class="value label label-info">{{inprogress}}</span></div>
	<div class="rls-nrun"><span>Not Run</span><span class="value label">{{notrun}}</span></div>
</div>